<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="app_dev.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url=".*(?:global.asa|default\.ida|root\.exe|\.\.).*" />
                    <action type="CustomResponse" url="." statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern=".*\..+$" ignoreCase="false" />
                        <add input="{REQUEST_URI}" pattern="(?!.*\.html$).*" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="(.*\.php)(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="{R:1}{R:2}" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="/app_dev.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
